html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}

:focus {outline: 0;}

/* prevent jquery UI */
.ui-loader {
  display: none;
}

body {
  background: black;
  overflow: hidden;
  font-family: Helvetica,Arial;
  -moz-user-select: none;
  -khtml-user-select : none;
  color: white;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 100px;
  text-align: center;
  margin-top: 0px;
  margin: 0;
}

#viewer div p {
  padding: 40px 40px 0 40px;
  text-align: center;
}

img {
  border: 0;
  display: block;
  width: 100%;
/*  float:left;*/
 -webkit-user-drag: none;
 -webkit-transform: rotateY(0deg); /* trigger opengl rendering on iphone */
}

#container {
  position: absolute;
  overflow: hidden;
  width: 320px;
  height: 460px;
}

#viewer {
  position: absolute;
  left: 0px;
  width: 20000px;
  height: 1px;
  -webkit-transition: left .2s ease-out;
}

#viewer div {
  width: 320px;
  height: 460px;
  overflow: hidden;
  float: left;
  color: white;
}

#viewer div p.info {
  color:white;
  padding: 0;
}

.rot90 {
  -webkit-transform: rotate(90deg);
}